<div class="container">

    <header class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-3 mt-3">
        <div class="d-flex align-items-center">
            <img src="../assets/logo.png" alt="Company Logo" class="img-fluid me-2" style="width: 50px; height: auto;">
            <h1 class="h4 mb-0">Inventory Manager</h1>
        </div>
    </header>
    <div class="container-fluid justify-content-center">


        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onTabChange($event)">
            @for (tab of tabs; track $index) {

            <mat-tab [label]="tab.label"></mat-tab>
            }
        </mat-tab-group>

    <div class="card p-3">
        <router-outlet></router-outlet>
    </div>
</div>