<nav aria-label="breadcrumb" style="background: #32a5df24;" class="p-3 rounded mb-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="#" class=" text-decoration-none">Productos</a>
        </li>
        <li class="breadcrumb-item active">
            <a>Lista Productos</a>
        </li>

    </ol>
</nav>
<div class="d-flex justify-content-end">
    <button mat-stroked-button [routerLink]="['/products/add']">
        Agregar Producto
    </button>
</div>

@if (isLoading) {
<div class="d-flex justify-content-center">

    <mat-spinner class="spinner"></mat-spinner>
</div>
}@else {

<div class="example-table-container">
    <!-- Tabla de productos -->
  <table mat-table [dataSource]="dataSource" matSort class="example-table">
    <!-- Código -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  >Código</th>
      <td mat-cell *matCellDef="let product">{{ product.Code }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Nombre</th>
      <td mat-cell *matCellDef="let product">{{ product.Name }}</td>
    </ng-container>

    <!-- Precio -->
    <ng-container matColumnDef="precio_unitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Precio</th>
      <td mat-cell *matCellDef="let product">{{ product.Price  }}</td>
    </ng-container>

    <!-- Categoría -->
    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Categoría</th>
      
      <td mat-cell *matCellDef="let product">{{ product.Category }}</td>
    </ng-container>

    <!-- Descripción -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Descripción</th>
      <td mat-cell *matCellDef="let product">{{ product.Description }}</td>
    </ng-container>

    <!-- Cantidad -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Cantidad</th>
      <td mat-cell *matCellDef="let product">{{ product.Cantidad }}</td>
    </ng-container>

    <!-- Encabezados de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <!-- Filas de la tabla -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
</div>
<mat-paginator
  [pageSizeOptions]="[10, 20, 30]"
  >
</mat-paginator>
}